.app {
	display: flex;
	height: 100vh;
	font-size: 14px;
	font-family: $regular-font-family;
	background: $background-color;
	background: linear-gradient(
		to top right,
		lighten($background-color, 2),
		darken($background-color, 8),
		lighten($background-color, 2)
	);
	.view {
		$gutter-width: 2 * $content-padding;
		padding: $content-padding $content-padding $gutter-width;
		&:first-of-type {
			padding-left: $gutter-width;
		}
		&:last-of-type {
			padding-right: $gutter-width;
		}
		> .header {
			display: flex;
			flex: none;
			> h2 {
				@extend .bevel-text;
				flex: 1;
				z-index: 1;
				position: relative;
				margin: 0 0 0 0.4em;
				height: 0.9em;
				min-height: 0.9em;
				overflow: hidden;
				font-size: 2.8em;
				font-weight: normal;
			}
			> .actions {
				margin-top: 0.4em;
				z-index: 1;
			}
		}
	}
}

@import "timeline/style";
@import "tasks/style";
@import "export/style";
