@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes slideIn {
	from { transform: translateY(-2vh); }
	to { transform: translateY(0); }
}
@keyframes slideOut {
	from { transform: translateY(0); }
	to { transform: translateY(2vh); }
}

.app .export.view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	padding: 4em;
	background: rgba(black, 0.6);
	animation: fadeIn 0.2s;
	&.closing {
		animation: fadeOut 0.2s;
		> .content-pane, > .header {
			animation: slideOut 0.2s;
		}
	}
	> .content-pane, > .header {
		animation: slideIn 0.2s;
	}
	.content-pane {
		padding: $content-padding;
		> .scroll-pane {
			overflow: auto;
			padding: $content-padding;
			max-height: 75vh; // hack
			> pre {
				font-family: $monospaced-font-family;
				margin: 0;
				cursor: text;
			}
		}
	}
}
